	
	<div class='data_graph' id="ori_data" style="height:500px; width:800px;"></div>
	<script type='text/javascript' src="/media/JQ_LIB/jquery.js"></script>
	<script type="text/javascript" src="/media/JQ_LIB/jquery.jqplot.min.js"></script>
	<script type="text/javascript" src="/media/JQ_LIB/jqplot.canvasTextRenderer.min.js"></script>
	<script type="text/javascript" src="/media/JQ_LIB/jqplot.canvasAxisLabelRenderer.min.js"></script>
	<script type='text/javascript' src="/media/engine/original_dataset.js"></script>
